body {
    
}

.tab-upper-margin{
    margin-top: 10px;
}

.input-upper-margin{
    margin-top: 5px;
}

.calcular-button{
    text-align: right;
    margin-top: 10px;
    margin-right: 0px;
}

.big-input-size {
  max-width: 500px !important
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}