@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    $("#testing").click(function () {
        alert('hola');
    });
</script>

<div class="jumbotron">
    <h1>Calculadora de carbono</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <button id="testing"></button>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>