@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {

            String.prototype.format = function () {
                var formatted = this;
                for (var i = 0; i < arguments.length; i++) {
                    var regexp = new RegExp('\\{' + i + '\\}', 'gi');
                    formatted = formatted.replace(regexp, arguments[i]);
                }
                return formatted;
            };

            /**
             * Función que convierte un serializedArray ({{name: key_1, value: x} ... , {name: key_n, value: y}}) a un 
             * object key:Value ({key_1: value, ... key_n: value});
             * return {object} objeto key:value
             */
            function convertSerializedArray(serializedArray) {
                var newObject = {};
                var actObj;
                for (var i = 0; i < serializedArray.length; i++) {
                    actObj = serializedArray[i];
                    newObject[actObj.name] = actObj.value;
                }
                return newObject;
            }

            /**
             * Método que crea el highchart basado en el vector que se le manda
             * param {array} data : vector con datos calculados
             */
            function showGraph(data) {
                Highcharts.chart('container', {

                    title: {
                        text: ''
                    },
                    subTitle: {
                        text: ''
                    },
                    yAxis: {
                        title: {
                            text: 'Contenido de carbono'
                        }
                    },
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    },

                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },
                            pointStart: 1
                        }
                    },

                    series: [data],

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 1000
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });
            }

            /**
             * Función que, dependiendo el vector de parámetro, creará dinámicamente el contenido
             * de la tabla. Creará header, el cual contendrá el # de año proyectado y el body, 
             * el cual tendrá el valor calculado
             * param {array} data : vector con datos calculados
             * return {html} html que contendrá la tabla
             */
            function generateTable(data) {
                var header  = '';
                var content = '';
                var actTh   = '';
                var actTd   = '';
                var finalTable = '<thead><tr>{0}</tr></thead><tbody><tr>{1}</tr></tbody>'
                for (var i = 0; i < data.length; i++) {
                    header += '<th style="text-align: center" nowrap>Año ' + (i + 1) + '</th>';
                    content += '<td style="text-align: center">' + data[i] + '</td>';
                }

                return finalTable.format(header, content);
            }

            /**
             * Evento del botón "Ver gráfica" en calculos proyectados, el cual mostrará
             * gráfica del resultado
             */
            $('#btnVerGrafica').click(function () {
                $('#btnVerGrafica').addClass('active');
                $('#btnVerDatos').removeClass('active');

                $('#grafica_proyectada').css('display', 'block');
                $('#datos_proyectados').css('display', 'none');
            });

            /**
             * Evento del botón "Ver datos" en calculos proyectados, el cual mostrará
             * tabla con valores de la gráfica
             */
            $('#btnVerDatos').click(function () {
                $('#btnVerDatos').addClass('active');
                $('#btnVerGrafica').removeClass('active');

                $('#datos_proyectados').css('display', 'block');
                $('#grafica_proyectada').css('display', 'none');

            });

            $('#btnResetFormActual').click(function () {
                // Reinicia form y oculta resultado
                $('#formCalculoActual')[0].reset();
                $('#panelResultadoActual').css('display', 'none');
            });

            $('#btnResetFormProyectada').click(function () {
                // Reinicia form y oculta resultado
                $('#formCalculoProyectado')[0].reset();
                $('#panelResultadoProyectado').css('display', 'none');
            });

            /**
             * Submit del form de cálculo actual.
             * Se hace Submit de la form via AJAX, y así obtener el resultado y luego 
             * mostrarlo en el panel de resultado
             */
            $('#formCalculoActual').submit(function (event) {
                event.preventDefault();
                var formData = convertSerializedArray($(this).serializeArray());
                var postURL = '@Url.Action("calculoActual", "Calculator")';
                $.ajax({
                    url: postURL,
                    method: "POST", 
                    data: formData,
                    success: function (data) {
                        var status = data.status;

                        // Llamada correcta, muestra resultado
                        if (status == 200) {
                            $('#panelResultadoActual').css('display', 'block');
                            $('#lblResultado').html(data.response + " C");
                        }
                    },
                    error: function (requestObject, error, errorThrown) {
                        alert('Error en cálculo');
                    }
                });
            });

            /**
             * Submit del form de cálculo proyectado.
             * Se hace Submit de la form via AJAX, y así obtener el resultado y luego 
             * mostrarlo en el panel de resultado
             */
            $('#formCalculoProyectado').submit(function (event) {
                event.preventDefault();
                var formData = convertSerializedArray($(this).serializeArray());
                var postURL = '@Url.Action("calculoProyectado", "Calculator")';
                $.ajax({
                    url: postURL,
                    method: "POST",
                    data: formData,
                    success: function (data) {
                        var status = data.status;

                        // Llamada correcta, muestra resultado
                        if (status == 200) {
                            $('#panelResultadoProyectado').css('display', 'block');

                            // Muestra gráfica
                            showGraph({
                                name: 'Carbono',
                                data: data.response
                            });

                            // Genera tabla HTML
                            $('#tablaProyectada').html(generateTable(data.response));
                        }
                    },
                    error: function (requestObject, error, errorThrown) {
                        alert('Error en cálculo');
                    }
                });
            });

        })
    });
</script>

<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#calc_actual">Actual</a>
    </li>
    <li>
        <a data-toggle="tab" href="#calc_proyeccion">Proyección</a>
    </li>
</ul>

<div class="tab-content">
    <!-- Tab Cálculo actual-->
    <div id="calc_actual" class="tab-pane fade in active">
        
        <!-- Ingresos -->
        <div class="col-md-6 col-lg-6 tab-upper-margin"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ingresos</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("calculoActual", "Calculator", FormMethod.Post, new { id = "formCalculoActual" }))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <label for="sel_especie">Especie</label>
                                <select class="form-control" id="sel_especie" name="especie">
                                    <option>Pinus Maximinoii</option>
                                    <option>Pinus Caribea</option>
                                    <option>Pinus oocarpa</option>
                                    <option>Teca</option>
                                    <option>Palo Blanco</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="#txtDAP">DAP</label>
                                <input id="txtDAP" name="dap" type="number" class="form-control" placeholder="100 m" min="0" step="any" required>
                            </div>
                        </div>

                        <div class="row input-upper-margin">
                            <div class="col-md-6">
                                <label for="txtNumero">Número de árboles</label>
                                <input id="txtNumero" name="numArboles" type="number" class="form-control" placeholder="50" min="0" step="1" required>
                            </div>
                            <div class="col-md-6">
                                <label for="txtAltura">Altura media</label>
                                <input id="txtAltura" name="altura" type="number" class="form-control" placeholder="100 m" min="0" step="any" required>
                            </div>
                        </div>

                        <div class="row input-upper-margin">
                            <div class="col-md-6">
                                <label for="txtMateriaSeca">% Materia seca</label>
                                <input id="txtMateriaSeca" name="ms" type="number" class="form-control" placeholder="0.50" min="0" max="1" step="any" required>
                            </div>
                        </div>

                        <div class="row calcular-button">
                            <button type="submit" class="btn btn-primary">Calcular</button>
                            <button id="btnResetFormActual" type="reset" class="btn btn-danger">Reiniciar</button>
                        </div>
                    }
                </div>
            </div>
        </div> 
        <!-- /Ingresos -->

        <!-- Resultado -->
        <div id="panelResultadoActual" class="col-md-6 col-lg-6 tab-upper-margin" hidden>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Resultado</h3>
                </div>
                <div class="panel-body">
                    <b>El contenido de carbono es de: </b> <label id="lblResultado" style="font-weight:normal">10 tulis</label>
                </div>
            </div>
            <div class="alert alert-info">
                <strong>Atención</strong> si desea ver cómo se realizó este cálculo, entrar <a href="#" class="alert-link"> aquí </a>
            </div>
        </div> 
        <!-- /Resultado -->

    </div> 
    <!-- /Tab Cálculo actual-->

    <!-- Tab Cálculo proyectado-->
    <div id="calc_proyeccion" class="tab-pane fade"> 
        <div class="col-md-5 col-lg-5 tab-upper-margin">
            
            <!-- Ingresos -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ingresos</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("calculoProyectado", "Calculator", FormMethod.Post, new { id = "formCalculoProyectado" }))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <label for="sel_especie">Especie</label>
                                <select class="form-control" id="sel_especie" name="especie">
                                    <option>Pinus Maximinoii</option>
                                    <option>Pinus Caribea</option>
                                    <option>Pinus oocarpa</option>
                                    <option>Teca</option>
                                    <option>Palo Blanco</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="sel_sitio">Índice de sitio</label>
                                <select class="form-control big-input-size" id="sel_sitio" name="indice_sitio">
                                    <option>Pésimo</option>
                                    <option>Malo</option>
                                    <option>Medio</option>
                                    <option>Bueno</option>
                                    <option>Excelente</option>
                                </select>
                            </div>
                        </div>

                        <div class="row input-upper-margin">
                            <div class="col-md-6">
                                <label for="txtMateriaSeca2">% Materia seca</label>
                                <input id="txtMateriaSeca2" name="ms" type="number" class="form-control" placeholder="0.50" min="0" max="1" step="any" required>
                            </div>
                            <div class="col-md-6">
                                <label for="txtAltura">Número de árboles</label>
                                <input id="txtAltura" name="numArboles" type="number" class="form-control big-input-size" placeholder="5" min="0" required>
                            </div>
                        </div>

                        <div class="row calcular-button">
                            <button type="submit" class="btn btn-primary">Calcular</button>
                            <button id="btnResetFormProyectada" type="reset" class="btn btn-danger">Reiniciar</button>
                        </div>  
                    }
                </div>
            </div>
        </div> 
        <!-- /Ingresos -->

        <!-- Resultado -->
        <div id="panelResultadoProyectado" class="col-md-7 col-lg-7 tab-upper-margin" hidden>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Resultado</h3>
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-right: 5px">
                        <div class="btn-group btn-group-xs pull-right">
                            <button type="button" class="active btn btn-default" id="btnVerGrafica">
                                Ver gráfica
                            </button>
                            <button type="button" class="btn btn-default" id="btnVerDatos">
                                Ver datos
                            </button>
                        </div>
                    </div>
                    <div id="grafica_proyectada">
                        <div id="container" style="width:100%; height:400px; margin-bottom: 15px;"></div>
                    </div>
                    <div class="row" style="margin: 5px; text-align:center;" id="datos_proyectados" hidden>
                        <h4>Contenido de carbono por año</h4>
                        <div style="overflow-x: auto">
                            <table id="tablaProyectada" class="table table-bordered"></table>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="alert alert-info">
                Si desea ver cómo se realizó este cálculo, entrar <a href="#" class="alert-link"> aquí </a>
            </div>
        </div>
        <!-- /Resultado -->
    
    </div>
    <!-- /Tab Cálculo proyectado-->
</div>